@import "Colors.css";
@import "Events.css";
.clubs-page {
  padding: 30px;
  font-family: "Inter", sans-serif;
  background-color: var(--beige);
}

/* Filter bar
.filter-bar {
  display: flex;
  gap: 15px;
  background-color: var(--light_blue);
  border-radius: 12px;
  padding: 3px;
  width: fit-content; 
  justify-content: space-around;
  flex-wrap: wrap;
}

.filter-btn {
  background: none;
  border: none;
  color: var(--dark_blue);
  font-weight: 500;
  padding: 8px 16px;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.2s;
}

.filter-btn:hover {
  background-color: #d8e5fb;
}

.filter-btn.active {
  background-color: white;
  border: 1px solid var(--beige);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
} */

/* Grid layout */

.clubs-grid {
  margin-top: 3% !important;
}

.club-info {
  padding: 15px;
}

.club-category {
  color: gray;
  font-size: 0.9em;
}

.club-title {
  margin: 5px 0;
  font-size: 1.1em;
  color: #1a2b4b;
}

.leave-btn {
  background-color: var(--dark_blue);
  color: var(--beige);
  display: flex;
  padding: 8px 12px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 6px;
  font-family: "Work Sans";
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  margin-top: 12px;
}

.leave-btn:hover {
  background-color: var(--orange);
}

.no-results {
  text-align: center;
  color: var(--text-secondary);
  font-size: 1.2rem;
  padding: 2rem;
  grid-column: 1 / -1;
}
