.title-sign-up {
  font-family: Work Sans;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
  color: var(--dark_blue);
  margin-bottom: 24px;
}
.create-an-acc {
  font-family: Work Sans;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  color: var(--dark_blue);
  margin-bottom: 32px;
}
.sign-up-login {
  background: var(--orange);
  width: 400px;
  height: 40px;
  color: var(--beige);
  border: none;
  padding: 12px 22px;
  border-radius: 8px;
  font-weight: 600;
  cursor: pointer;
  margin-top: 48px;
  font-family: Work Sans;
  font-size: 16px;
}
.sign-up-close {
  right: 50px;
  background: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  position: absolute;
}
